body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #011c2d, #017b92);
  color: white;
}

.container {
  max-width: 1000px;
  margin: 6rem auto 2rem auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #00c3ff;
}

.cards {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card h2 {
  font-size: 1.5rem;
  color: #00d4ff;
}

.card p {
  font-size: 1rem;
  margin-top: 1rem;
  color: #fff;
}

.card button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #00aaff;
  color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
  border: none;
}

.card button:hover {
  background: #007799;
}

.btn-voltar {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  background: #00aaff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10;
}
